{%extends 'Plantilla_principal.html' %}
{%block Contenido_pagina%}


{% csrf_token %}

<table class="table table-hover" id="mostrar elementos">
    <thead class="table-light">
        <tr>
        <td>
            Nombre  Del Estudiante
        </td>
        <td>
            Apellido del estudiante
        </td>
        <td>

        </td>
          <td>
              Contraseña
          </td>
          <td>
              celular
          </td>
    </tr>
    </thead>
<tbody class="table-light">
{%if Materia_listar %}
{%for docentes in Materia_listar%}
<tr>

    <td>
           {{docentes_mostrar.nombre_doc}}
    </td>
    <td>
           {{docentes_mostrar.apellido_doc}}
    </td>
    <td>
           {{docentes_mostrar.cedula}}
    </td>
    <td>
           {{docentes_mostrar.contraseña}}
    </td>
    <td>
           {{docentes_mostrar.celular}}
    </td>
    <td>
        <a class="btn btn-primary btn-lg" href="{%url 'actualizar-docentes' docentes.cedula  %}" >Learn more</a>
    </td>
</tr>
{%endfor%}
{%endif%}
</tbody>

</table>


{%endblock%}