{%extends 'Plantilla_principal.html' %}
{%block Contenido_pagina%}


{% csrf_token %}
<table class="table table-hover" id="mostrar elementos">
    <thead class="table-light">
        <tr>
        <td>
           Codigo
        </td>
        <td>
            Nombre de la materia
        </td>
        <td>
            Creditos
        </td>
          <td>
              Semestre
          </td>
          <td>
              Activa
          </td>
    </tr>
    </thead>
<tbody >
{%if docentes_mostrar %}
{%for docentes in docentes_mostrar %}
<tr>

    <td>
           {{docentes.cod_materia}}
    </td>
    <td>
           {{docentes.nombre_materia}}
    </td>
    <td>
           {{docentes.creditos}}
    </td>
    <td>
           {{docentes.semestre_id}}
    </td>
    <td>
           {{docentes.activo}}
    </td>
    <td>
        <a class="btn btn-primary btn-lg" href="{%url 'actualizar-docentes' docentes.cedula  %}" >Actualizar </a>
    </td>
</tr>
{%endfor%}
{%else%}
<p>Error no leido</p>
{%endif%}
</tbody>

</table>

{%endblock%}