{%extends 'Plantilla_principal.html' %}
{%block Contenido_pagina%}


{% csrf_token %}
<table class="table table-hover" id="mostrar elementos">
    <thead class="table-light">
        <tr>
        <td>
            Nombre del docente
        </td>
        <td>
            Apellido del Docente
        </td>
        <td>
            Cedula
        </td>
          <td>
              Contraseña
          </td>
          <td>
              celular
          </td>
    </tr>
    </thead>
<tbody >
{%if docentes_mostrar %}
{%for docentes in docentes_mostrar %}
<tr>

    <td>
           {{docentes.nombre_doc}}
    </td>
    <td>
           {{docentes.apellido_doc}}
    </td>
    <td>
           {{docentes.cedula}}
    </td>
    <td>
           {{docentes.contraseña}}
    </td>
    <td>
           {{docentes.celular}}
    </td>
    <td>
        <a class="btn btn-primary btn-lg" href="{%url 'actualizar-docentes' docentes.cedula  %}" >Actualizar </a>
    </td>
</tr>
{%endfor%}
{%else%}
<p align="center">Error no leido</p>
{%endif%}
</tbody>

</table>

{%endblock%}