{%extends 'Plantilla_principal.html' %}
{%load tags_separacion%}
{%load staticfiles%}
{%block  Cabezera%}
<script type="text/javascript">
    $(document).ready(function(){

        $("#Agregar").click(function(){
                     var fila= '<tr> <td>{%default_estudiantes%}</td></tr>';
                     var dato= [];
                     $("#tabla").append(fila);

                     $.ajax({
                              type: "POST",
                              url: "{% url 'json_pruebas'%}",
                              dataType: "json",
                              data: {"table": JSON.stringify(Recolectar_datos())},
                              success: function(data){

                                }

                           });

        });

    });

    function Recolectar_datos(){
    var dato= $('.seleccion');
    var texto =[];
    if(dato){
      for (var i = dato.length - 1; i >= 0; i--) {
         recolectar=dato[i].value;
         texto.push(recolectar);
        }
     }
    return texto;
    }
</script>
<script type="text/javascript" src="{% static 'Javascript/inscrMateriayestudiantes.js' %}"></script>
{%endblock%}
{%block Contenido_pagina%}
{%define 'Fin' as Fin%}
<form method="post" id="form_id">
{% csrf_token %}

    <table id="tabla" class="table table-hover" align="center">
        <thead>
           <tr class="table-light">
            <td>
             Materia 
             </td>
            <td>
            {{ form.cod_materia }}
            </td>  
            <td>
            Semestre  
            </td>
            <td>

            {{ form.id_semestre }}
            </td> 
        </tr>
        </thead>
    </table>

<button type="submit">Acceder</button>

</form>
