{%extends 'Plantilla_principal.html' %}


{%block  Cabezera%}


{%endblock%}

{%block Contenido_pagina%}

<form method="post">
{% csrf_token %}

    <table id="tabla" class="table table-hover">
        <thead>
           <tr class="table-light">

               <select name="cod_materia" >
                   {%for mat in Materia%}
                   {%if mat.activo%}
                   <option value="{{mat.cod_materia}}" >{{mat.nombre_materia}}</option>
                   {%endif%}
                   {%endfor%}
               </select>
               {{estysem.id_semestre}}
        </tr>
        </thead>
    	<tbody>
    	</tbody>
       
    </table>
<button type="submit">Guardar</button>
<input type ="button"id="Agregar"value="Agregar Personal">
</form>

{%endblock%}
